<footer id="footer" role="contentInfo">
    <div id="footer-monsters"></div>
    <div id="footer-copy-container">
        <div class="inner">
            <ul>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/codes">Codes</a></li>
                <li><a href="/rules">Rules</a></li>
            </ul>
            <p>
                Please read <a target="_blank" href="https://github.com/kleineluka/roxstar/blob/main/LICENSE">RoxStar's License</a>.
            </p>
        </div>
    </div>
</footer>