<header id="header" role="banner">
    <span class="inline"><a href="/"><img src="/assets/img/homepage/logo.png" width="207px" height="119px" alt="Welcome to Monstro City!"></a></span>
    <nav role="navigation" class="inline">
        <ul id="nav">
            <li class="news"><a href="#"><span>News</span>
                    <div class="icon"></div>
                </a></li>
            <li class="help"><a href="/faq"><span>FAQ</span>
                    <div class="icon"></div>
                </a></li>
            <li class="rules"><a href="/rules"><span>Rules</span>
                    <div class="icon"></div>
                </a></li>
        </ul>
    </nav>
    <div id="signin-widget" class="inline">
        <div class="polaroid img-replace {{signInClass}}"></div>
        <div class="backing"></div>
    </div>
</header>